// Add text and background color classes from $foundation-palette colors
@each $key, $value in $foundation-palette {
  .#{$key} {
    &-bg { background-color: $value !important; }
    &-bg-hover { background-color: $value !important; }
    &-text { color: $value !important; }
    &-text-hover { color: $value !important; }
  }
}
